h3 {
    color: red;
}

.container {
    color: rgb(255, 0, 0);
    border-style: dotted;
    border-color: blue;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.container-bg{
    background-color: gold;
    
}

.my-font{
    font-family: "Noto Sans Thai", sans-serif;
}

#container-id {
    color: rgba(42, 42, 252, 0.756);
} 



